.EmpCard {
    background-color: blue;
    border-radius: 5em 2em 2em 5em;
    margin: 1em;
};

/* .ImgDiv {
    padding-top: 50px;
   border-radius: 50%;
   
};

.EmpImage {
    width: 75%;
    margin-left: 50px;
};

.EmpName {
    padding: 5px; */
/* } */